.content {
  text-align: center;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 75px 20px 20px;
}

.blue {
  background-color: #00448e !important;
  color: lightgrey !important;

  &:disabled, &[disabled] {
    background-color: grey !important;
    color: rgba(0, 0, 0, 0.5) !important;
    cursor: not-allowed;
  }
}

.button {
  margin: 10px;
}

.exercise {
  cursor: pointer;
}
